<header>
  <div class="container-fluid">
    <div class="row py-3 border-bottom">

        <div class="row justify-content-center justify-content-lg-between align-items-center">
          <div class="col-12 col-md-4 col-lg-3 text-center text-md-start mb-3 mb-md-0">
            <div class="main-logo">
              <a href="index.html">
                <img src="/assets/images/logo.png" alt="logo" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-5 mb-3 mb-md-0">
            <search></search>
          </div>
          <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center justify-content-md-end gap-5 mt-4 mt-md-0">
            <ul class="d-flex justify-content-end list-unstyled m-0">
              <li>
                <!--<a href="#" class="nav-link">Register</a>-->
                <button class="btn btn-with-border">Register</button>
              </li>
              <li>
                <!--<a href="#" class="nav-link">Log in</a>-->

                <button class="btn btn-with-border">Log in</button>
              </li>
              <li class="d-lg-none">
                <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cart"></use></svg>
                </a>
              </li>
              <li class="d-lg-none">
                <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#search"></use></svg>
                </a>
              </li>
            </ul>

            <cart></cart>

          </div>
        </div>
      </div>
    </div>

      <div class="container-fluid">
        <div class="row py-3">
          <div class="d-flex  justify-content-center align-items-center">
            <nav class="main-menu d-flex navbar navbar-expand-lg">

              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-header justify-content-center">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">

                  <select class="filter-categories border-0 mb-0 me-5" [(ngModel)]="selectedCategory" (change)="setCurrentCategory(selectedCategory, '')">
                    <option>All categories</option>
                    <option *ngFor="let category of repository.categories" [value]="category.name">
                      {{ category.name }}
                    </option>
                  </select>

                  <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                      <li *ngFor="let category of repository.categories" class="nav-item" [class.dropdown]="category.subcategories">
                        <button *ngIf="!category.subcategories" (click)="setCurrentCategory(category.name, '')" class="nav-link btn btn-link">{{ category.name }}</button>
                        <button *ngIf="category.subcategories" class="nav-link dropdown-toggle btn btn-link" role="button" id="subcategories" data-bs-toggle="dropdown" aria-expanded="false">{{ category.name }}</button>
                        <ul *ngIf="category.subcategories" class="dropdown-menu" aria-labelledby="subcategories">
                          <li *ngFor="let subcategory of category.subcategories">
                            <button (click)="setCurrentCategory(category.name, subcategory)" class="dropdown-item btn btn-link">{{ subcategory }}</button>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
</header>
